In [1]:
import pandas as pd
data = {'Name':['Alex', 'Bola', 'Daniel', 'Glen', 'Hilda', 'Tope'],'Age':[10,12,15,9,17,15], 'Sex' :['M','F','M','M', 'F', 'F'], 'Height':[138.4,150.0,173.4,133.3,162.5,159.7], 'Weight':[32.0,41.5,60.0,28.6,55.5,52.3], 'Shoe_Size':[37,38,44,35,40,39], 'Eye_Colour':['Green', 'Brown', 'Grey', 'Blue', 'Blue', 'Brown'], 'Hair_Colour':['Black', 'Brown', 'Blond', 'Red', 'Brown', 'Black']}
data = pd.DataFrame(data,columns=['Name','Age', 'Sex', 'Height', 'Weight', 'Shoe_Size', 'Eye_Colour', 'Hair_Colour'])
print (data)

     Name  Age Sex  Height  Weight  Shoe_Size Eye_Colour Hair_Colour
0    Alex   10   M   138.4    32.0         37      Green       Black
1    Bola   12   F   150.0    41.5         38      Brown       Brown
2  Daniel   15   M   173.4    60.0         44       Grey       Blond
3    Glen    9   M   133.3    28.6         35       Blue         Red
4   Hilda   17   F   162.5    55.5         40       Blue       Brown
5    Tope   15   F   159.7    52.3         39      Brown       Black

In [2]:
data.to_csv("data.csv")

In [3]:
df = pd.read_csv(r"C:\Users\User\SGA08_DATASCI\data.csv", index_col=0)

In [4]:
df.head(3)

     Name  Age Sex  Height  Weight  Shoe_Size Eye_Colour Hair_Colour
0    Alex   10   M   138.4    32.0         37      Green       Black
1    Bola   12   F   150.0    41.5         38      Brown       Brown
2  Daniel   15   M   173.4    60.0         44       Grey       Blond